body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calcBody{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
}

.right{
    display: flex;
    flex-direction: column;
}

.display{
    border: 1px;
    border-style: solid;
}